.Header{
    margin: 2rem 2rem 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.H1{
    font-size: large;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1em;
    align-self: center;
    margin: 4px;
}

.search{
    font-size: medium;
    padding: 0.25rem;
    border-radius: 18px;
    outline: none;
    grid-column: span 4;
    margin: 1px;
    border: 0;
    flex-grow: 1;
    background-color: #eee;
}

.button{
    border: 0;
    padding: 3.5px;
    border-radius: 18px;
    outline: none;
    align-self: center;
    margin: 1px;
}

.searchContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #eee;
    border-radius: 18px;
    padding: 6px 50px;
    flex-grow: 1;
}

.submit-button{
    border-radius: 6px;
    padding: 3.5px 8px;
    font-size: medium;
    background-color: white;
    margin: 4px;
    align-items: flex-start;
    flex-grow: 0;
    border-color: #eee;
    box-shadow: 0 1px 1px #0000000a;
}


.images{
    display: grid;
    justify-items: center;
    flex-grow: 0;
}

.image{
    grid-gap: 1em;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto;
    justify-content: center;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.temp1{
    animation: fadeIn 5s fill-mode;
}

.temp2{
    background-color: gray;
    border-radius: 6px;
}

.items{
    justify-self: end;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
}

.item{
    color: black;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.category-nav {
    display: flex;
    padding-left: 0.6rem;
    overflow: hidden;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    align-items: center;
  }


  .category-nav .category {
    display: list-item;
    list-style: none;
    margin: 3px;
  }


  .category a {
    
    font-size: small;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    text-decoration: none;
    color: gray;

    padding: 6px;
    text-size-adjust: 100%;
    width: 100%;
  }
