*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.Header{
    margin: 2rem 2rem 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.H1{
    margin-bottom: 1em;
    align-self: center;
    margin: 4px;
    padding-right: 8px;
}

.search{
    font-size: medium;
    padding: 0.25rem;
    border-radius: 18px;
    outline: none;
    grid-column: span 4;
    margin: 1px;
    border: 0;
    flex-grow: 1;
    background-color: #eee;
}

.button{
    border: 0;
    padding: 3.5px;
    border-radius: 18px;
    outline: none;
    align-self: center;
    margin: 1px;
}

.topSearchContainer{
    display: flex;
    flex-grow: 1;
}

.searchContainer{
    display: flex;
    background-color: #eee;
    border-radius: 36px;
    padding-left: 10px;
    flex-grow: 1;
    padding-right: 10px;
}

.visualSearch{
    justify-self: center;
    align-self: center;
}

.close-button{
    border-radius: 6px;
    font-size: medium;
    background-color: white;
    margin: 10px;
    margin-left: 25px;
    align-items: flex-start;
    flex-grow: 0;
    border: 0;
    color: gray;
}

.submit-button{
    border-radius: 6px;
    padding: 5px 5px;
    font-size: medium;
    background-color: white;
    margin: 10px;
    margin-left: 25px;
    align-items: flex-start;
    flex-grow: 0;
    border-color: #eee;
    box-shadow: 0 1px 1px #0000000a;
    color: gray;
}

.close-button:hover{
    color: black;
}

.submit-button:hover{
    color: black;
}

.images{
    display: grid;
    justify-items: center;
}

.image{
    padding: 40px;
    width: 85%;
    margin: aut;
    columns: 3;
    column-gap: 0px;
}


.temp1{
    animation: fadeIn 5s fill-mode;
}

.temp2{
    background-color: gray;
    border-radius: 6px;
}

.items{
    justify-self: end;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    padding: 0px 10px;
}

.item{
    color: black;
    align-items: center;
    position: relative;
    justify-content: space-between;
}


.drop-down{
    list-style: none;
    background: white;
    width: 180px;
    opacity: 0;
    visibility: hidden;
}

.drop-down li a{
    text-decoration: none;
    color: gray;
    text-align: start;
}

li:hover .drop-down{
    opacity: 1;
    visibility: visible;
}

.category-nav {
    display: flex;
    padding-left: 0.6rem;
    overflow: hidden;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    align-items: center;
  }


  .category-nav .category {
    text-decoration: none;
    display: list-item;
    list-style: none;
    margin: 3px;
  }


  .category a {
    
    font-size: small;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    text-decoration: none;
    color: gray;

    padding: 6px;
    text-size-adjust: 100%;
    width: 100%;
  }
