/* .WrapperImage{
    display: grid;
    margin: 4rem auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
    grid-gap: 1em;
} */

.WrapperImage{
    padding-top: 40px;
    width: 85%;
    margin: auto;
    columns: 3;
    column-gap: 0.5rem;
}